
.site-footer {
  background-color: #111;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  margin-top: 50px;
}

.site-footer h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.collaborators {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collaborators li {
  margin: 8px 0;
}

.collaborators a {
  color: #0a66c2; /* LinkedIn blue */
  text-decoration: none;
  font-weight: 500;
}

.collaborators a:hover {
  text-decoration: underline;
}
